body {
    margin: 0;
}

h1 {
    margin: 0;
    color: white;
    padding: 10px 0px;
}

h2 {
    border-bottom: solid black 2px;
    width: 95%;
    padding: 20px 0px;
}

main {
    margin-left: 10px;

}

header {
    background-color: rgb(135, 153, 165);
    padding: 10px;
}

nav {
    background-color: rgb(103, 117, 128);
    padding-left: 0;
    border-bottom: solid 5px orange;
    padding: 10px;

}

nav ul {
    list-style-type: none;
    padding: 0px 10px 10px 0px;
    margin-top: 0;


}

nav ul li a {
    display: block;
    color: white;
    display: block;
    float: left;
    padding: 5px;

}

footer {
    padding: 10px;
    background-color: rgb(103, 117, 128);
    border-top: solid 5px orange;
    bottom: 0;
    width: 100%;
}

footer.fixed {
    position: fixed;

}

a:hover {
    color: black;
    background-color: white;
}

img.cover_game {
    height: 128px;
    width: auto;
}

tr {
    border-collapse: collapse;
    border: transparent;
}

th {
    background-color: rgb(47, 79, 78);
}

tr td.subtitel {
    background-color: rgb(115, 126, 148);
}

table {
    margin: 10px 30% 10px 30%;
    width: 40%;
}